table {
    border-collapse: collapse;
    border: 1px solid #CB82C4;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #CB82C4;
}

.table th{
    border-top:none;
}

.add-button{
    width: 10%;
}

.checkbox-wrapper{
    text-align: center;
}

label{
    margin-left: 10px;
}