.line{
    width: 374px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #F1CDCD;
    padding-left: 10px;
}

.profile{
    height: 307px;
}


