@import "~bootstrap/scss/bootstrap";
@import "colors";

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: azure;
  font-family: Roboto;
  color: #CB82C4;
}

p {
  margin: 10px;
  margin-left: 10px;

}

::placeholder {
  font-family: Roboto;
  color: #CB82C4;
}

#main {
  margin: auto;
  height: 100%;
  width: 100%;
}

#login-component {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 741px;
  background-color: #FFF4F4;
}

#router-outlet {
  display: flex;
  justify-content: center;
  height: 100%;
}

img {
  width: 53px;
  height: 52px;

  padding-top: 10px;
  padding-left: 19px;
}


.name {
  margin-bottom: 20px;
}

.ok-butt {
  margin-bottom: 30px;
  margin-top: 30px;
}

.form {
  width: 400px;
  margin-top: 136px;
}

.form-element {
  width: 100%;
  margin-bottom: 16px;
  font-family: Roboto;
  border-radius: 12px;
}

.form-button  {
  background-color: $button-color;
  color: $font-color;
  border: none;

  &:hover{
    background-color: $font-color;
    color: $button-color;
  }
}
.form-input{
  border: 1px solid #F1CDCD;
  &::placeholder{
    color: $font-color;
  }
}

.log-out {
  margin-top: 10px;
  margin-right: 20px;
  width: 167px;
  height: 52px;
  border: none;
  font-family: Roboto;
  color: #CB82C4;
  background: #FBD6E3;
  border-radius: 12px;
}

.prof-button {
  width: 183px;
  height: 52px;
  margin-top: 24px;
  background: #FBD6E3;
  border-radius: 12px;
  font-family: Roboto;
  color: #CB82C4;
  border: none;
}

.ok-left {
  margin-left: 15px;
}

.hi {
  margin-left: 34px;
  margin-top: 23px;
  width: 125px;
  height: 29px;
}

.table {
  width: 694px;
  height: 240px;
  margin-top: 88px;
}

